/* Basic styling */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
  }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#block-interface {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}
  
#parameters {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 2;
}
  
#canvas {
    width: 100%;
    height: 100%;
}

  